<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo"/>
      <span translate>Hello world !</span>
    </h1>
    <app-loader [isLoading]="isLoading"></app-loader>
    <q [hidden]="isLoading">{{quote}}</q>
  </div>
  <div *ngIf="!isLoading">
    <ul>
      <li *ngFor="let filingRequestStatus of homeModel.filingRequestStatuses">{{filingRequestStatus.name}} - {{filingRequestStatus.code}}</li>
    </ul>
  </div>
</div>
